<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{app.getMetaDescription}}" >
    <!-- <meta name="theme-color" content="#FFF"> -->
    <base href="{{tplAssets}}"/>
    <title>{{app.getMetaTitle}}</title>
	 
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,latin-ext' rel='stylesheet'> 
	<link rel="stylesheet" href="{{'assets/css/app.css'|rev}}">
    {{extraStyles}}
</head>